/* General Styles */
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* Header Section */
.header {
  background: url("/running-bg.jpg") no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  margin: 10px 0 20px;
}

.cta-button {
  display: inline-block;
  background: #ff5722;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background: #e64a19;
}

/* Section Styles */
.section {
  padding: 40px 20px;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 10px;
}

.cta-button {
  text-align: center;
  width: 20%;
  display: block;
  margin: 10px auto;
}

.why-run-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.img-container {
  overflow: hidden;
  margin: 20px 0;
  min-height: 150px;
  height: 200px;
}

.reasons {
  width: 25%;
}

.reasons img {
  height: 100%;
  width: 100%;
}

/* Coaches Section */
.coaches-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.coach {
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.coach-container {
  display: flex;
  flex-wrap: wrap;
}

.coach img {
  border-radius: 50%;
}

/* Footer */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer .social-links a {
  color: #ff5722;
  margin: 0 10px;
  text-decoration: none;
}

@media only screen and (max-width: 425px) {
  .reasons {
    width: 90%;
  }

  .img-container {
    overflow: hidden;
    margin: 20px 0;
  }

  .cta-button {
    width: 50%;
  }
}
